<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>My Profile </h1>
<form action="/api/user/myprofile">
 <a href="/api/user/dashboard/">myProfile</a>

<h4>About:</h4>


<ul>
  <li> <a href="/api/user/friends">Friends</a> </li>
  <li><a href="/api/user/pendingRequest">Pending Request</a> </li>
  <li> <a href="/api/user/sentRequest">Sent Request</a> </li>
</ul>  
  

  <h2>General Instruction</h2>
  <ul>
  <li>
  Name: {{user.name}}
  </li>
  <br>
  <li>
      username: {{user.username}}
  </li>
  <br>
  <li>  Email: {{user.email}}</li>
  <br> 
  <li> Created At: {{user.createdAt}}</li>
 </ul>


   
</form>

</body>
</html>